table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
  margin-right: auto;
  }
  
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    border: 2px solid #dddddd;
  }
  h1{
      text-align: center;
      padding-top: 30px;
      color: darkslategray;
  }

  #btnAdd:hover,  #btnClear:hover, #btnSearch:hover {
    background-color: #9d9eab;
  }
  

#btnAdd{
  
      background-color: green;
      color: white;
      padding: 10px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 14px;
      margin:20px
      
      
  }
  #btnClear{
  
    background-color: red;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
   
    
}

  .add{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
.search{
  
   text-align:end;
    
    
}
#btnSearch{
  
    background-color: rgb(204, 161, 7);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    margin:15px
    
    
}
 
  @media only screen and (max-width: 600px) {
    table{
        width: 100%;
    }
  }